@import "./normalize.css";

.container {
  width: 80%;
  margin: 0 auto;
}

.slider {
  padding: 50px 0;

  &__example {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    height: 400px;
    padding: 20px;
    margin: 0 auto;
  }

  &__panel {
    max-width: 800px;
    margin: 0 auto;
  }
}

.panel {
  background-color: #dcdcdce3;
  border-radius: 10px;

  &__form {
    padding: 20px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    place-items: start start;
  }

  &__item {
    margin: 10px 0;
  }

  &__item--text {
    display: grid;
    grid-auto-flow: column;
  }

  &__label {
    margin-right: 10px;
  }

  &__input--text {
    width: 60px;
  }
}
