.container {
  width: 80%;
  height: 200px; //временно
  margin: 0 auto;
}

.slider {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  padding: 50px 0;

  &__example {
    width: 200px;
    height: 150px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #dcdcdc;
  }

  &__panel {
    width: 100%;
    height: 30px; //временно
    background-color: blue; //временно
  }
}
